* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(36, 36, 36);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#app {
  width: 100vw;
  height: 100vh;
  background-image: url(../public/images/bodyBackgroundTexture.png);

  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  background-color: lightgray;
  border-radius: 10px;
  border: 3px solid yellow;
  display: none;
}

#start-screen {
  width: 1024px;
  height: 576px;
  min-width: 1024px;
  min-height: 576px;
  max-width: 1024px;
  max-height: 576px;
  border-radius: 10px;
  border: 3px solid yellow;
  background-image: url(../public/images/startScreen.png);
  background-repeat: no-repeat;
  display: flex;
  background-size: contain;
  background-position: center;
  justify-content: center;
  align-items: center;
}

#end-screen {
  width: 1024px;
  height: 576px;
  min-width: 1024px;
  min-height: 576px;
  max-width: 1024px;
  max-height: 576px;
  border-radius: 10px;
  border: 3px solid yellow;
  background-image: url(../public/images/endScreen.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: none;
  justify-content: center;
  align-items: center;
}
