* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  background-color: lightgray;
  border-radius: 10px;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
